<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.edusphere_server.mapper.AuthMapper">

    <select id="findByEmail" resultType="com.lx.edusphere_server.entity.User">
        SELECT * FROM users WHERE user_email = #{user_email}
    </select>

    <select id="findByUserNumber" resultType="com.lx.edusphere_server.entity.User">
        SELECT * FROM users WHERE user_number = #{user_number}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(*) > 0 FROM users WHERE user_email = #{user_email}
    </select>

    <select id="existsByUserName" resultType="boolean">
        SELECT COUNT(*) > 0 FROM users WHERE user_name = #{user_name}
    </select>

    <update id="updatePassword" parameterType="com.lx.edusphere_server.entity.User">
        UPDATE users SET user_password = #{user_password} WHERE user_name = #{user_name}
    </update>

    <insert id="CreateUser" parameterType="com.lx.edusphere_server.entity.User">
        INSERT INTO users(user_name, user_email, user_password, user_token)
        VALUES(#{user_name}, #{user_email}, #{user_password},null)
    </insert>

</mapper>
