<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.edusphere_server.mapper.RoleMapper">

    <select id="getRoleIdsByUserId" resultType="java.lang.Integer">
        SELECT role_id
        FROM role_user
        WHERE user_id = #{user_id}
    </select>

    <select id="get_role_id_by_role_name">
        SELECT role_id
        FROM roles
        WHERE role_name = #{role_name}
    </select>

    <select id="is_there_such_a_name">
        SELECT COUNT(*) > 0
        FROM roles
        WHERE role_name = #{role_name}
    </select>

    <select id="getRoleIdsByUserName" resultType="java.lang.Integer">
        SELECT role_user.role_id
        FROM role_user
                 JOIN users ON role_user.user_id = users.user_id
        WHERE users.user_name = #{user_name}
    </select>

    <select id="getRoleNamesByUserId" resultType="java.lang.String">
        SELECT roles.role_name
        FROM users
                 JOIN role_user ON users.user_id = role_user.user_id
                 JOIN roles ON role_user.role_id = roles.role_id
        WHERE users.user_id = #{user_id};
    </select>

    <insert id="add_one_roles" parameterType="com.lx.edusphere_server.dto.Role.ChooseOneRole">
        <selectKey keyProperty="role_id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO roles (role_name)
        VALUES (#{role_name});
    </insert>

    <!-- 角色信息(GetAllRolesInfo)的结果映射 -->
    <resultMap id="GetAllRolesInfoResultMap" type="com.lx.edusphere_server.dto.Role.GetAllRolesInfo">
        <result property="role_id" column="role_id"/>
        <result property="role_name" column="role_name"/>
        <!-- 关联权限ID集合 -->
        <collection property="powers" ofType="java.lang.Integer">
            <result column="power_id"/>
        </collection>
    </resultMap>

    <!-- 获取所有角色及其权限的SQL查询 -->
    <select id="get_all_roles" resultMap="GetAllRolesInfoResultMap">
        SELECT
            roles.role_id,
            roles.role_name,
            role_power.power_id
        FROM
            roles
                LEFT JOIN
            role_power ON roles.role_id = role_power.role_id
        ORDER BY
            roles.role_id
    </select>

    <!-- ChooseOneRole的结果映射 -->
    <resultMap id="ChooseOneRoleResultMap" type="com.lx.edusphere_server.dto.Role.ChooseOneRole">
        <id property="role_id" column="role_id"/>
        <result property="role_name" column="role_name"/>
        <!-- 关联权限ID集合 -->
        <collection property="role_powers" ofType="java.lang.Integer">
            <result column="power_id"/>
        </collection>
    </resultMap>

    <select id="get_role_info_by_role_id" parameterType="long" resultMap="ChooseOneRoleResultMap">
        SELECT
            roles.role_id,
            roles.role_name,
            role_power.power_id
        FROM
            roles
                LEFT JOIN
            role_power ON roles.role_id = role_power.role_id
        WHERE
            roles.role_id = #{roleId}
    </select>

    <!-- 更新角色权限信息 -->
    <update id="remove_role_power">
        DELETE FROM role_power WHERE role_id = #{role_id};
    </update>

    <update id="renew_role_power" parameterType="com.lx.edusphere_server.dto.Role.ChooseOneRole">
        <if test="role_powers != null and !role_powers.isEmpty()">
            INSERT INTO role_power (role_id, power_id) VALUES
            <foreach collection="role_powers" item="power_id" separator=",">
                (#{role_id}, #{power_id})
            </foreach>
        </if>
    </update>

    <update id="renew_role_name">
        UPDATE roles SET role_name = #{role_name}
        WHERE role_id = #{role_id}
    </update>

    <delete id="remove_role_user">
        DELETE FROM role_user WHERE role_id = #{role_id};
    </delete>
    <!-- 删除角色 -->
    <delete id="delete_role">
        DELETE FROM roles WHERE role_id = #{role_id};
    </delete>

    <insert id="create_user_from_login_page">
        INSERT INTO role_user(role_id, user_id)
        VALUES (4, (SELECT user_id FROM users WHERE user_email = #{user_email}));
    </insert>

    <insert id="create_user_from_admin_page">
        INSERT INTO role_user(role_id, user_id)
        VALUES (5, (SELECT user_id FROM users WHERE user_email = #{user_email}));
    </insert>

    <select id="get_all_teacher_name">
        SELECT DISTINCT users.user_id, user_name
        FROM users LEFT JOIN role_user ON users.user_id = role_user.user_id
        WHERE role_user.role_id IN (2, 9)
    </select>
</mapper>
