<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.edusphere_server.mapper.VerificationCodeMapper">

    <update id="updateVerificationCode" parameterType="com.lx.edusphere_server.entity.VerificationCode">
        UPDATE verification_codes
        SET code_email   = #{code_email},
            code_number  = #{code_number},
            expiry_date  = #{expiry_date},
            code_purpose = #{code_purpose}
        WHERE code_id = #{code_id}
    </update>

    <insert id="saveVerificationCode" parameterType="com.lx.edusphere_server.entity.VerificationCode">
        INSERT INTO verification_codes(code_email, code_number, expiry_date, code_purpose)
        VALUES(#{code_email}, #{code_number}, #{expiry_date}, #{code_purpose})
    </insert>

    <select id="findByEmailAndPurpose" resultType="com.lx.edusphere_server.entity.VerificationCode">
        SELECT * FROM verification_codes
        WHERE code_email = #{code_email} AND code_purpose = #{code_purpose}
    </select>
</mapper>